

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!-- Page content -->
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters min-vh-100">
      <div class="col-lg-5 col-md-8 py-8 py-xl-0">
        <!-- Card -->
        <div class="card shadow ">
          <!-- Card body -->
          <div class="card-body p-6">
            <div class="mb-4">
              <h1 class="mb-1 font-weight-bold">ログイン</h1>
              <span>登録していない方はこちらへ
              <%= link_to '登録', new_user_registration_path, class: "ml-1" %>
              </span>
            </div>
            <!-- Form -->
            <form>
              	<!-- Username -->
              <div class="form-group">
                <%= f.label :email, class: "form-label" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレスを入力" %>
              </div>
              	<!-- Password -->
              <div class="form-group">
                <%= f.label :password, class: "form-label" %>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "パスワードを入力" %>
              </div>
              <div>
                	<!-- Button -->
                <div>
                  <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
