<%= render 'partial/user_show' %>

<% if @evaluations.present? %>
  <% @evaluations.each do |evaluation| %>
    <% @events.each do |event| %>
      <% if evaluation.event_id == event.id %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to event.title, event_path(event) %>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted" >
              評価者 <%= link_to User.find(evaluation.user_id).name, user_path(evaluation.user_id) %>
            </h6>
            <p class="card-text">
              コメント <%= evaluation.comment %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <div class="alert alert-primary" role="alert">
    評価されていません
    <%= image_tag 'undraw/undraw_not_found_60pq.svg', width: '200px', class: 'p-3' %>
  </div>
<% end %>
