<%= @user.name %>
<%= render 'relationships/follow_button', user: @user %>
<%= @user.introduce %>

<% if user_signed_in? && @user == current_user %>
  <h2>ブックマーク</h2>
  <% if @bookmark_events.present? %>
    <% @bookmark_events.each do |bookmark_event| %>
    <%= link_to bookmark_event.title, event_path(bookmark_event) %>
    <% end %>
  <% else %>
    <span>なし</span>
  <% end %>
<% end %>


<p>
  <%= link_to 'フォロー', user_following_path(@user.id) %>
  <%= @user.followings.count %>
  <%= link_to 'フォロワー', user_follower_path(@user.id) %>
  <%= @user.followers.count %>
</p>


<%# もしユーザー画像が登録されているなら表示 %>
<% if @user.image.url.present? %>
  <%= image_tag @user.image.url %>
<% end %>

<div class="container">
  <% @events.each do |event| %>
    <div class="card-body row row-cols-2 border rounded-pill">
      <h5 class="card-title col">
        <%= event.title %>
      </h5>
      <p class="card-text col">
        <%= event.content %>
      </p>
      <%= link_to 'show', event_path(event), class: "btn btn-info ml-auto btn-sm rounded-pill" %>
    </div>
  <% end %>
</div>
