<% if user_signed_in? && @user == current_user %>
  <h1>マイページ</h1>
  <h3>ブックマーク</h3>
  <% if @bookmark_events.present? %>
    <% @bookmark_events.each do |bookmark_event| %>
    <%= link_to bookmark_event.title, event_path(bookmark_event) %>
    <% end %>
  <% else %>
    なし
  <% end %>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>


<h3>名前</h3>
<%= @user.name %>

<div>
  <p>フォロー数</p>
  <%= @user.followings.count %>
  <p>フォロワー数</p>
  <%= @user.followers.count %>
</div>


<%= render 'relationships/follow_button', user: @user %>
<%# もしユーザー画像が登録されているなら表示 %>
<% if @user.image.url.present? %>
  <%= image_tag @user.image.url %>
<% end %>

<h2>投稿一覧</h2>
<% @events.each do |event| %>
  <h3>イベント</h3>
  <%= event.title %>
  <h3>内容</h3>
  <%= event.content %>
  <%= link_to 'show', event_path(event) %>
<% end %>
