<% if user_signed_in? && @user == current_user %>
  <h1>マイページ</h1>
  <h2>ブックマーク</h2>
  <% if @bookmark_events.present? %>
    <% @bookmark_events.each do |bookmark_event| %>
    <%= link_to bookmark_event.title, event_path(bookmark_event) %>
    <% end %>
  <% else %>
    <span>なし</span>
  <% end %>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>


<h2>名前</h2>
<%= @user.name %>
<%= render 'relationships/follow_button', user: @user %>

<h2>自己紹介</h2>
<%= @user.introduce %>

<p>
  <%= link_to 'フォロー', user_following_path(@user.id) %>
  <%= @user.followings.count %>
  <%= link_to 'フォロワー', user_follower_path(@user.id) %>
  <%= @user.followers.count %>
</p>


<%# もしユーザー画像が登録されているなら表示 %>
<% if @user.image.url.present? %>
  <%= image_tag @user.image.url %>
<% end %>


<% @events.each do |event| %>
  <div class="card-body">
    <h5 class="card-title">
      <%= event.title %>
    </h5>

    <p class="card-text">
      <%= event.content %>
    </p>
    <%= link_to 'show', event_path(event) %>
  </div>
<% end %>
