<%= @user.name %>
<%= render 'relationships/follow_button', user: @user %>
<%= @user.introduce %><br />




<p>
  <%= link_to 'フォロー', user_following_path(@user.id) %>
  <%= @user.followings.count %>
  <%= link_to 'フォロワー', user_follower_path(@user.id) %>
  <%= @user.followers.count %>
</p>


<%# もしユーザー画像が登録されているなら表示 %>
<% if @user.image.url.present? %>
  <%= image_tag @user.image.url %>
<% end %>

<div class="container">
  <% @events.each do |event| %>
    <div class="card-body row row-cols-2 border rounded-pill">
      <h5 class="card-title col">
        <%= event.title %>
      </h5>
      <p class="card-text col">
        <%= event.content %>
      </p>
      <%= link_to 'show', event_path(event), class: "btn btn-primary ml-auto btn-sm rounded-pill" %>
    </div>
  <% end %>
</div>
