<%= javascript_pack_tag 'events' %>

<!-- Page header -->
<div class="pt-0 pb-0">
  <div class="container">
    <div class="shadow py-6 mb-5 bg-white rounded">
      <div class="offset-xl-1 col-xl-10 offset-lg-1 col-lg-10 col-md-12 col-12">
        <!-- Form -->
        <form class="form-inline p-1">
          <%= search_form_for @q, url: events_path do |f| %>
            <%= f.search_field :title_or_content_cont, class: "form-control", placeholder: "検索キーワード", size: 40 %>
            <%= f.submit "search", class: "nav-link material-icons-outlined md-36 btn" %>
          <div class="nav-link material-icons-outlined md-36 btn" data-toggle="modal" data-target="#exampleModal">
            filter_alt
          </div>
          <% end %>
        </form>


          <%= search_form_for @q, url: events_path, class: 'form-inline p-1' do |f| %>
              <%= f.select( :sorts, {'並び替え': 'id desc', '参加費が安い順': 'max_fee asc', '参加費が高い順': 'max_fee desc', '開催日時が近い順': 'start_time asc', '開催日時が遠い順': 'start_time desc', '参加人数が少ない順': 'number asc', '参加人数が多い順': 'number desc', 'ブックマークが多い順': 'bookmarks_count desc'}, { selected: params[:q][:sorts] },  { class: 'form-control'} ) %>
              <%= f.submit 'swap_vert', class: 'material-icons-outlined md-36 btn'%>
          <% end %>
        <form class="p-1">

          <% @tag_lists.each do |list| %>
            <%= link_to root_path(tag_id: list.id), class: "btn btn-light btn-xs mb-2 mr-2" do %>
              <%= list.tag_name %>
              <span class="text-muted">
                <%= list.events.count %>
              </span>
            <% end %>
          <% end %>
          <%= link_to "フォローイベント", root_path(follow_event_id: current_user.id), class: "btn btn-light btn-xs mb-2 mr-2" if current_user %>
        </form>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">複数条件検索</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <%= search_form_for @q, url: events_path do |f| %>
                      <div class="form-group">
                        <%= f.label :タイトルとコンテンツ, class: "input-label", for: "textInput" %>
                        <%= f.text_field :title_or_content_cont, placeholder: "キーワードから探す", id: "textInput", class: "form-control" %>
                      </div>
                      <div class='form-group'>
                        <%= f.label :レベル %>
                        <%= f.select :level_eq, {'初級': '初級', '中級': '中級', '上級': '上級'}, { include_blank: '選択してください'}, { class: "form-control" } %>
                      </div>

                      <div class="form-group">
                        <%= f.label :会場 %>
                        <%= f.text_field :venue_cont, class: "form-control" %>
                      </div>

                      <div class="form-group">
                          <%= f.label :人数 %>
                          <%= f.number_field  :number_gteq, class: "form-control" %><p>から</p>
                          <%= f.number_field  :number_lteq, class: "form-control" %>人まで
                      </div>

                      <div class="form-group">
                          <%= f.label :参加費 %>
                          <%= f.number_field  :min_fee_gteq, class: "form-control" %><p>円から</p>
                          <%= f.number_field  :max_fee_lteq, class: "form-control" %>円まで
                      </div>

                        <div class="form-group">
                          <%= f.date_field :start_time_gt , class: "form-control p-1" %><p>から</p>
                          <%= f.date_field :start_time_lteq_end_of_day, class: "form-control p-1" %>まで
                        </div>
                      
                        <%= f.submit "search", class: "material-icons-outlined md-36 btn" %>

                    </div>
                  <% end %>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation container">
      <ul class="pagination pagination-sm justify-content-center">
        <%= paginate @events %>
      </ul>
    </nav>

    <%= render 'partial/events_index', events: @events, user_events: @user_events  %>

    <nav aria-label="Page navigation example">
      <ul class="pagination pagination-sm justify-content-center">
        <%= paginate @events %>
      </ul>
    </nav>
  </div>
</div>


