
<div class="container px-4">
  <div class="row gx-5">
    <% @events.each do |event| %>
      <div class="col-sm-6 p-3">
        <div class="card">
          <div class="card-body list-group list-group-flush">
            <div class="list-group-item">
              <%= link_to event_path(event), class: "text-decoration-none text-dark" do %>
                <% if event.image.url.present? %>
                  <td><%= image_tag event.image.url, class: "card-img-top img-fluid rounded-lg" %></td>
                <% end %>
                <h5 class="card-title"><%= event.title %></h5>
                <p class="card-text"><%= safe_join(event.content.split("\n"),tag(:br)) %></p>
              <% end %>
              <%= render 'partial/bookmark', event: event %>
            </div>
            

            <div class="list-group-item">
              <% if event.user.image.present? %>
                <img src=<%= event.user.image %> class="rounded-circle" width="20" height="20">
              <% end %>
              <%= link_to event.user.name, user_path(event.user_id), class: "btn btn-primary" %>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
