<%= link_to 'new', new_event_path %>
<table>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.user.email %></td>
      <td><%= event.title %></td>
      <td><%= event.content %></td>
      <td><%= link_to 'show', event_path(event) %></td>
    </tr>
  <% end %>

</table>
