
<h1>イベント投稿一覧</h1>

<div class="row row-cols-2">

  <% @events.each do |event| %>
    <div class="col card">

      <% if event.image.url.present? %>
        <td><%= image_tag event.image.url, class: "card-img-top img-fluid rounded-lg" %></td>
      <% end %>

      <div class="card-body">
        <h5 class="card-title"><%= event.title %></h5>
        <p class="card-text"><%= event.content %></p>
      </div>

      <ul class="list-group list-group-flush">
        <%= link_to event.user.name, user_path(event.user_id) %>
        <% if event.user.image.present? %>
          <img src=<%= event.user.image %>>
        <% end %>
      </ul>

      <div class="card-body">
        <%= link_to '詳細', event_path(event), class: "btn btn-info" %>
        <%= render 'partial/bookmark', event: event %>
      </div>

    </div>
  <% end %>
</div>


