<%= link_to 'new', new_event_path %>
<table>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.user.email %></td>
      <td><%= link_to 'user', user_path(event.user_id) %></td>
      <td><img src=<%= event.user.image %> class= "icon_image"></td>
      <td><%= event.title %></td>
      <td><%= event.content %></td>
      <% if event.image.url.present? %>
        <td><%= image_tag event.image.url %></td>
      <% end %>
      <td><%= link_to 'show', event_path(event) %></td>
      <td>
        <%= render 'partial/bookmark', event: event %>
      </td>
    </tr>
  <% end %>

</table>
