<% if @event.errors.any? %>
  <%= @event.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model: @event, url: '/events', method: :post, local: true do |f| %>

    <div class="field form-group">
        <%= f.label :タイトル %>
        <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="field form-group">
        <%= f.label :内容 %>
        <%= f.text_area  :content, class: "form-control", rows: "3" %>
    </div>

    <div class="field form-group">
        <%= f.label :画像 %>
        <%= f.file_field :image, class: "form-control-file" %>
    </div>

    <div class="actions form-group">
      <%= f.submit "新規投稿", class: "btn btn-info" %>
    </div>
<% end %>
