<%= form_with model: @event, url: '/events', method: :post, local: true do |f| %>

    <div class=field>
        <%= f.label :タイトル %><br />
        <%= f.text_field :title %>
    </div>

    <div class="field">
        <%= f.label :内容 %><br />
        <%= f.text_field :content %>
    </div>

    <div class="field">
        <%= f.label :image %><br />
        <%= f.file_field :image %>
    </div>

    <%= f.submit "新規投稿" %>
<% end %>
