<div class="card text-center">

    <td><%= image_tag @event.image.url, class: "card-img-top img-fluid rounded-lg", width: "1280", height: "720" %></td>

  <div class="card-body">
    <h5 class="card-title"><%= @event.title %></h5>
    <h6 class="card-text"><%= safe_join( @event.content.split("\n"),tag(:br) )%></h6>

    <h6>
      <%= @event.level %>
      <div class="material-icons-outlined">
        place
      </div>
      <%= @event.venue %>
    </h6>

    <%= link_to @event.user.name, user_path(@event.user_id), class: 'btn btn-primary' %>
    <% if user_signed_in? && current_user.id == @event.user_id %>
      <%= link_to 'イベント投稿編集', edit_event_path(@event), class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="card-footer text-muted">
    更新日時<%= @event.updated_at %>
  </div>
</div>

<% if @user_event.present? %>
  <%= link_to '参加予定詳細', event_user_event_path(@user_event) %>
<% else %>
  <div class="actions">
    <%# user_groupsコントローラーのcreateアクションを実行するリンク %>
    <%= link_to 'Join this group', event_user_events_path(event_id: @event.id), method: :post, data: { confirm: 'Are you sure to join this group?'}, class:"sign-up-btn" %>
  </div>
<% end %>
