<%= javascript_pack_tag 'events' %>
<%= javascript_pack_tag 'dropzone.js' %>


<form>
  <div class="form-row">
    <div class="form-group col-12 col-md-12">
        <%= f.label :title, for: "textInput" %>
        <%= f.text_field :title, class: "form-control", placeholder: "タイトルを入力", :required => true  %>
    </div>

    <div class="form-group col-12 col-md-12">
        <%= f.label :tag_name, for: "textInput" %>
        <%= f.text_field :tag_name, class: "form-control", placeholder: "タグをスペース区切りで3つまで入力(例 講座 季節 )" %>
    </div>

    <div class="form-group col-12 col-md-12">
        <%= f.label :content, for: "textareaInput", class: "input-label" %>
        <%= f.text_area :content, id: "textareaInput", class: "form-control", placeholder: "コンテンツを入力", rows: "4", :required => true  %>
    </div> 

    <div class="form-group col-12 col-md-3">
        <%= f.label :level, for: "selectOne", class: "input-label" %>
        <%= f.select :level, {'初級': '初級', '中級': '中級', '上級': '上級'}, { include_blank: '選択してください'}, { id: "selectOne", class: "form-control", :required => true  } %>
    </div>


    <div class="form-group col-12 col-md-3">
        <%= f.label :venue, for: "textInput", class: "input-label" %>
        <%= f.text_field :venue, class: "form-control", placeholder: "会場を入力", :required => true  %>
    </div>

    <div class="form-group col-12 col-md-3">
        <%= f.label :number, for: "numberInput" %>
        <%= f.number_field  :number, min: 1, class: "form-control", placeholder: "最大人数を入力(開催者も含む)", :required => true  %>
    </div>

    <div class="form-group col-12 col-md-3">
        <%= f.label :fee, for: "numberInput" %>
        <%= f.number_field  :fee, min: 0, class: "form-control", placeholder: "参加費を入力", :required => true  %>
    </div>

    <div class="form-group col-12 col-md-6">
        <%= f.label :start_time %>
        <%= f.datetime_field :start_time, class: "form-control", :required => true  %>
    </div>

    <div class="form-group col-12 col-md-6">
        <%= f.label :finish_time %>
        <%= f.datetime_field :finish_time, class: "form-control", :required => true  %>
    </div>

    <div class="form-group col-12">
        <%= f.label :youtube_url %>
        <%= f.text_field :youtube_url, class: "form-control", placeholder: "YouTubeのURL" %>
    </div>

    <div class="field form-group custom-file">
        <%= f.label :image, class: "custom-file-label" %>
        <%= f.file_field :image, accept: 'image/jpeg, image/gif, image/png', id: "image-select-btn", class: "custom-file-input form-control-file" %>
    </div>

    <div class="event-image-prev form-group">
      <% if @event.image? %>
        <%= image_tag @event.image.url, alt: "event-image", id: "img_prev", class: "event-image" %>
      <% else %>
        <%= image_tag "default_event.jpg", alt: "event-image", id: :img_prev, class: "event-image" %>
      <% end %>
    </div>

    <% if local_assigns[:new_flag].present? %>
      <div class="form-group">
        <%= f.submit "投稿する", class: "btn btn-primary" %>
      </div>
    <% else %>
      <div class="form-group">
        <%= f.submit "更新する", class: "btn btn-primary" %>
      </div>
    <% end %>
    <%= image_tag 'undraw/undraw_Add_post_re_174w.svg', width: '250px', class: 'p-2 text-right' %>
 
  </div>
</form>

