    <div class="form-group p-3">
        <%= f.label :タイトル %>
        <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group p-3">
        <%= f.label :内容 %>
        <%= f.text_area  :content, class: "form-control", rows: "3" %>
    </div>

    <div class="form-group p-3">
        <%= f.label :難易度 %>
        <%= f.select :level, {'初級': '初級', '中級': '中級', '上級': '上級'}, { include_blank: '選択してください'}, { class: "form-control", required: true } %>
    </div>

    <div class="form-group p-3">
        <%= f.label :会場 %>
        <%= f.text_field :venue, class: "form-control" %>
    </div>

    <div class="form-group p-3">
        <%= f.label :参加人数 %>
        <%= f.number_field  :number, min: 1, class: "form-control" %>
    </div>

    <div class="form-group p-3">
        <%= f.label :開催日時 %>
        <%= f.datetime_field :start_time, class: "form-control" %>
    </div>

    <div class="form-group p-3">
        <%= f.label :終了日時 %>
        <%= f.datetime_field :finish_time, class: "form-control" %>
    </div>

    <div class="form-group p-3">
        <%= f.label :画像 %>
        <%= f.file_field :image, accept: 'image/jpeg, image/gif, image/png', id: "image-select-btn" %>
    </div>

    <div class="event-image-prev">
      <% if @event.image? %>
        <%= image_tag @event.image.url, alt: "event-image", id: "img_prev", class: "event-image" %>
      <% else %>
        <%= image_tag "default_event.jpg", alt: "event-image", id: :img_prev, class: "event-image" %>
      <% end %>
    </div>

    <% if local_assigns[:new_flag].present? %>
      <div class="form-group p-3">
        <%= f.submit "投稿する", class: "btn btn-primary" %>
      </div>
    <% else %>
      <div class="form-group p-3">
        <%= f.submit "更新する", class: "btn btn-primary" %>
      </div>
    <% end %>


