<div class="container">
  <div class="row text-left">
    <div class="card card-hover col-md m-2 list-inline">
      <div class="d-flex justify-content-between align-items-center p-4">
        <div class="d-flex">
          <div class="material-icons-outlined md-48 fit avatar-md list-inline-item d-none d-xl-block">
            place
          </div>
          <div class="ml-2 list-inline-item">
            <h4 class="mb-1"><%= @event.venue %></h4>
            <p class="mb-0 font-size-xs">
              <span class="mr-2">会場</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card card-hover col-md m-2">
      <div class="d-flex justify-content-between align-items-center p-4">
        <div class="d-flex">
          <div class="material-icons-outlined md-48 fit avatar-md d-none d-xl-block">
            schedule
          </div>
          <div class="ml-2">
            <h4 class="mb-1">
              <a href="course-path-single.html" class="text-inherit"></a>
              <%= l @event.start_time, format: :short %>
            </h4>
            <p class="mb-0 font-size-xs">
              <span class="mr-2">開催時刻 期間
                <% sec = @event.finish_time - @event.start_time %>
                <%= (Time.parse("1/1") + sec - (day = sec.to_i / 86400) * 86400).strftime("#{day}日%H時間%M分") %>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card card-hover col-md m-2">
      <div class="d-flex justify-content-between align-items-center p-4">
        <div class="d-flex">
          <div class="material-icons-outlined md-48 fit avatar-md d-none d-xl-block">
            group
          </div>
          <div class="ml-2">
            <h4 class="mb-1"><%= @event.number %></h4>
            <p class="mb-0 font-size-xs">
              <span class="mr-2">参加できる最大人数</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-hover col-md m-2">
      <div class="d-flex justify-content-between align-items-center p-4">
        <div class="d-flex">
        <div class="hidden-xs">
          <div class="material-icons-outlined md-48 fit avatar-md d-none d-xl-block">
            bookmarks
          </div>
        </div>
          <div class="ml-2">
            <h4 class="mb-1">
              <%= Bookmark.where(event_id: @event.id).count %>
            </h4>
            <p class="mb-0 font-size-xs">
              <span class="mr-2">ブックマークされた数</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card card-hover col-md m-2">
      <div class="d-flex justify-content-between align-items-center p-4">
        <div class="d-flex">
        <div class="hidden-xs">
          <div class="material-icons-outlined md-48 fit avatar-md d-none d-xl-block">
            payments
          </div>
        </div>
          <div class="ml-2">
            <h4 class="mb-1"><%= @event.min_fee %>~<%= @event.max_fee %>円</h4>
            <p class="mb-0 font-size-xs">
              <span class="mr-2">参加費</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
