<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to image_tag('syuwakai.png', width: '200px'), root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li>
          <%= search_form_for @q do |f| %>
            <%= f.search_field :title_or_content_cont, class: "form-control mr-sm-2" %>
            <%= f.submit "検索", class: "btn btn-outline-success my-2 my-sm-0" %>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'プロフィール', mypage_path, class: 'nav-link' %>
          </li>
          <% if current_user.email != 'guest@example.com' %>
            <li class="nav-item active">
              <%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item active">
              <div class="nav-link disabled">アカウント編集不可</div>
            </li>
          <% end %>
          <li class="nav-item active">
              <%= link_to 'ブックマーク', user_bookmarks_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item active">
              <%= link_to '新規投稿', new_event_path, class: "btn btn-outline-primary" %>
          </li>
      <% else %>
          <li class="nav-item active">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ゲストログイン', users_guest_sign_in_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
