<header>
  <nav class="navbar navbar-expand navbar-light">
    <%= link_to image_tag('syuwakai.png', width: '200px'), root_path, class: 'navbar-brand' %>
    <div id="Navber">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <% if current_user.email != 'guest@example.com' %>
            <li class="nav-item active">
              <%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item active">
              <div class="nav-link">ゲストアカウントはアカウント編集できません</div>
            </li>
          <% end %>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'プロフィール', mypage_path, class: 'nav-link' %>
          </li>
      <% else %>
          <li class="nav-item active">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
