<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to image_tag('syuwakai.png', width: '200px'), root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
              <%= link_to 'post_add', new_event_path, class: "nav-link material-icons-outlined md-36 nonelink" %>
          </li>
          <li class="nav-item active">
              <%= link_to 'bookmark_added', user_bookmarks_path(current_user), class: "nav-link material-icons-outlined md-36" %>
          </li>
          <li class="nav-item active">
              <%= link_to 'notifications', notifications_path, class: "nav-link material-icons-outlined md-36" %>
          </li>
          <li class="nav-item active">
              <%= link_to 'chat', rooms_path, class: "nav-link material-icons-outlined md-36" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'person', mypage_path, class: 'nav-link material-icons-outlined md-36' %>
          </li>
          <% if current_user.email != 'guest@example.com' %>
            <li class="nav-item active">
              <%= link_to 'manage_accounts', edit_user_registration_path, class: 'nav-link material-icons-outlined md-36' %>
            </li>
          <% end %>
          <li class="nav-item active">
            <%= link_to 'event', event_user_events_path(current_user.id), class: 'nav-link material-icons-outlined md-36' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'logout', destroy_user_session_path, class: 'nav-link material-icons-outlined md-36' %>
          </li>
      <% else %>
          <li class="nav-item active">
            <%= link_to "person_add", new_user_registration_path, class: 'nav-link material-icons-outlined md-36' %>
          </li>
          <li class="nav-item active">
            <%= link_to "login", new_user_session_path, class: 'nav-link material-icons-outlined md-36' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ゲストログイン', users_guest_sign_in_path, class: 'nav-link' %>
          </li>
        <% end %>
        <form class="form-inline white-space">
          <%= search_form_for @q, url: events_path do |f| %>
            <%= f.search_field :title_or_content_cont, class: "form-control" %>
            <%= f.submit "search", class: "nav-link material-icons-outlined md-36 btn" %>
          <% end %>
        </form>

        <!-- Button trigger modal -->
        <li type="button" class="nav-link material-icons-outlined md-36" data-toggle="modal" data-target="#exampleModal">
          filter_alt
        </li>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">複数条件検索</h5>
              </div>
              <div class="modal-body">
                <form class="form-inline white-space">
                <form action="">
                  <%= search_form_for @q, url: events_path do |f| %>
                      <div class="form-group p-3">
                        <%= f.label :タイトルとコンテンツ %>
                        <%= f.text_field :title_or_content_cont, placeholder: "キーワードから探す", class: "form-control" %>
                      </div>
                      <div class='form-group p-3'>
                        <%= f.label :レベル %>
                        <%= f.select :level_eq, {'初級': '初級', '中級': '中級', '上級': '上級'}, { include_blank: '選択してください'}, { class: "form-control" } %>
                      </div>

                      <div class="form-group p-3">
                        <%= f.label :会場 %>
                        <%= f.text_field :venue_cont, class: "form-control" %>
                      </div>

                      <div class="form-group p-3">
                          <%= f.label :最大人数 %>
                          <%= f.number_field  :number_lteq, class: "form-control" %>
                      </div>

                      <div class="form-group p-3">
                          <%= f.label :最低人数 %>
                          <%= f.number_field  :number_gteq, class: "form-control" %>
                      </div>

                      <div class="form-group p-3">
                          <%= f.label :開催日時 %>
                          <%= f.datetime_field :start_time_gteq, class: "form-control" %>
                      </div>

                        <%= f.submit "search", class: "material-icons-outlined md-36 btn" %>

                    </div>
                  <% end %>
                </form>
              </div>
            </div>
          </div>
        </div>
        
      </ul>
    </div>
  </div>
</nav>
