<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-default mb-3">
	<div class="container-fluid px-0">
    <%= link_to image_tag('syuwakai.png', width: '200px'), root_path, class: 'navbar-brand' %>
    <% if user_signed_in? %>
      
      <!-- Mobile view nav wrap -->
      <ul
        class="navbar-nav navbar-right-wrap ml-auto d-lg-none d-flex nav-top-wrap"
      >
        <li class="dropdown ml-2">
          <a
            class="rounded-circle"
            href="#!"
            role="button"
            id="dropdownUser"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <div class="avatar avatar-md avatar-online">
              <%= image_tag current_user.image.url, class: "rounded-circle" %>
            </div>
          </a>
          <div
            class="dropdown-menu dropdown-menu-right shadow"
            aria-labelledby="dropdownUser"
          >
            <div class="dropdown-item">
              <%= link_to mypage_path do %>
                <div class="d-flex">
                  <div class="avatar avatar-md avatar-online">
                    <%= image_tag current_user.image.url, class: "rounded-circle" %>
                  </div>
                  <div class="ml-3 lh-1">
                    <h5 class="mb-1"><%= current_user.name%></h5>
                    <p class="mb-0 text-muted"><%= current_user.email %></p>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="dropdown-divider"></div>
            <ul class="list-unstyled">
              <li>
                <%= link_to '通知', notifications_path, class: "mx-2 dropdown-item" %>
              </li>
              <li>
                <%= link_to 'ブックマーク', user_bookmarks_path(current_user), class: "mx-2 dropdown-item" %>
              </li>
              <% if current_user.id != 2 %>
                <li>
                <%= link_to 'プロフィール設定', edit_user_registration_path, class: "mx-2 dropdown-item" %>
              </li>
              <% end %>
              <li>
                <%= link_to '参加予定イベント', event_user_events_path(current_user), class: "mx-2 dropdown-item" %>
              </li>
            </ul>
            <div class="dropdown-divider"></div>
            <ul class="list-unstyled">
              <li>
                <%= link_to 'ログアウト', destroy_user_session_path, class: "mx-2 dropdown-item" %>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <!-- Button -->
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-default"
        aria-controls="navbar-default"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="icon-bar top-bar mt-0"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbar-default">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to new_event_path do %>
                <h3 class="nav-link">イベント投稿</h3>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to rooms_path do %>
              <h3 class="nav-link">掲示板</h3>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to about_path do %>
              <h3 class="nav-link">使い方</h3>
            <% end %>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right-wrap ml-auto d-none d-lg-block">
          <li class="dropdown ml-2 d-inline-block">
            <a class="rounded-circle" href="#!" role="button" id="dropdownUserProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="avatar avatar-md avatar-online">
                <%= image_tag current_user.image.url, class: "rounded-circle" %>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserProfile">
              <div class="dropdown-item">
                <%= link_to mypage_path do %>
                  <div class="d-flex">
                    <div class="avatar avatar-md avatar-online">
                      <%= image_tag current_user.image.url, class: "rounded-circle" %>
                    </div>
                    <div class="ml-3 lh-1">
                      <h5 class="mb-1"><%= current_user.name%></h5>
                      <p class="mb-0 text-muted"><%= current_user.email %></p>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                <li>
                  <%= link_to '通知', notifications_path, class: "mx-2 dropdown-item" %>
                </li>
                <li>
                  <%= link_to 'ブックマーク', user_bookmarks_path(current_user), class: "mx-2 dropdown-item" %>
                </li>
                <% if current_user.id != 2 %>
                  <li>
                    <%= link_to 'プロフィール編集', edit_user_registration_path, class: "mx-2 dropdown-item" %>
                  </li>
                <% end %>
                <li>
                  <%= link_to '参加予定イベント', event_user_events_path(current_user), class: "mx-2 dropdown-item" %>
                </li>
              </ul>
              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                <li>
                  <%= link_to 'ログアウト', destroy_user_session_path, class: "mx-2 dropdown-item" %>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    <% else %>		

      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-default"
        aria-controls="navbar-default"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="icon-bar top-bar mt-0"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <div id="navbar-default" class="collapse navbar-collapse">
      <!-- Collapse -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to new_user_registration_path do %>
                <h3 class="nav-link">新規登録</h3>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path do %>
              <h3 class="nav-link">ログイン</h3>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_guest_sign_in_path do %>
              <h3 class="nav-link">ゲストログイン</h3>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to about_path do %>
              <h3 class="nav-link">使い方</h3>
            <% end %>
          </li>
        </ul>
      
      </div>
    <% end %>
	</div>
</nav>
