<% if @users.present? %>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-xl-4 col-lg-4 col-md-6 col-12">
        <!-- Card -->
        <div class="card mb-4 shadow-sm">
          <!-- Card Body -->
          <%= link_to user_path(user) do %>
            <div class="card-body ">
              <div class="text-center">
                <%= image_tag user.image.url, class: "rounded-circle avatar-xl mb-3" %>
                <h4 class="mb-1"><%= user.name %></h4>
                <p class="mb-0 font-size-xs"><i class="fe fe-map-pin mr-1"></i><%= user.introduce %></p>
              </div>
              <div class="d-flex justify-content-between py-2 mt-4 font-size-xs">
                <span>開催数</span>
                <span class="text-dark"><%= Event.where(user_id: user.id).count %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-primary" role="alert">
    <% if current_page?(user_following_path)  %>
      フォローしていません
    <% else %>
      フォローされていません
    <% end %>
    <%= image_tag 'undraw_not_found_60pq.svg', width: '200px', class: 'p-3' %>
  </div>
<% end %>
