<div>
  <ul>
    <% @rooms.each do |room| %>
      <li><%= link_to "ROOM#{room.id}#{room.name}", room_path(room) %></li>
    <% end %>
  </ul>
</div>

<div>
  <%= form_with model: @room, url: rooms_path, method: :post, local: true do |f| %>    
    <%= f.text_field :name, class: "form-control", :placeholder =>"質問ルームを作る" %>
    <%= f.text_area :content, class: "form-control", :placeholder =>"伝えたいことや聞きたいこと" %>
    <%= f.submit "add", class: "material-icons-outlined md-36 btn" %>
  <% end %>
</div>
