<%#                ここの data-room_id を使ってjs側で部屋を見分ける %>
<div id='messages' data-room_id="<%= @room.id %>">
  <%= render @messages %>
</div>

<%= label_tag :content, 'チャットする' %>
<%= text_field_tag :content, nil, data: { behavior: 'room_speaker' } %>

<%= link_to '質問一覧', rooms_path %>
