<h2><span><%= image_tag 'undraw/undraw_events_2p66.svg', width: '200px', class: 'm-3' %></span>参加するイベント</h2>

<div class="container">
  <%= month_calendar events: @events do |date, events| %>
    <%= date.day %>

    <% events.each do |event| %>
      <% @user_events.each do |user_event| %>
        <% if event.id == user_event.event_id %>
          <div>
            <%= link_to "#{ event.title }", event_user_event_path( user_event.event_id, event.id) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if @events.present? %>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <% @user_events.each do |user_event| %>
        <% @events.each do |event| %>
        <% if event.id == user_event.event_id %>
          <div class="col-xl-4 col-lg-4 col-md-6 col-12">
            <div class="card mb-4 shadow-lg ">

              <%= link_to event_path(event), class: "card-img-top" do %>
                <%= image_tag event.image.url, class: "card-img-top rounded-top" %>
              <% end %>

              <div class="card-body">
                <div class="d-flex bd-highlight">
                  <%= link_to "#{ event.level }", event_path(event), class: "font-size-sm font-weight-semi-bold d-block mb-3 text-danger flex-grow-1 bd-highlight" %>
                  <% event.tags.each do |tag| %>
                    <%= link_to "#{ tag.tag_name }", root_path(tag_id: tag.id ), class: "mr-1" %>
                  <% end %>
                  <div class="bd-highlight">
                    <%= render 'partial/bookmark', event: event %>
                  </div>
                </div>
                <p class="font-size-xs mb-0">
                  <%= l event.updated_at, format: :short %>
                </p>
                <h3>
                  <%= link_to "#{ event.title }", event_path(event), class: "text-inherit" %>
                </h3>
                <p class="box-read">
                  <%= safe_join(event.content.split("\n"),tag(:br)) %>
                </p>

                <div class="card-header" id="headingOne">
                  <a href="" class="d-flex align-items-center text-inherit text-decoration-none active btn-change material-icons-outlined" data-toggle="collapse" data-target="#collapse<%= event.id %>" aria-expanded="false" aria-controls="collapse<%= event.id %>">
                      expand_more
                  </a>
                </div>
                <div class="collapse" id="collapse<%= event.id %>">
                  <div class="card card-body">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <div class="d-flex">
                          <span class="material-icons-outlined md-24 fit pr-0 list-inline-item d-none d-xl-block">
                            place
                          </span>
                          <div class="ml-2">
                            <h5 class="mb-1">
                              <div class="text-inherit"><%= event.venue %></div>
                            </h5>
                            <p class="mb-0 font-size-xs">
                              <span class="mr-2">開催会場</span>
                            </p>
                          </div>
                        </div>
                      </li>

                      <li class="list-group-item">
                        <div class="d-flex">
                          <span class="material-icons-outlined md-24 fit pr-0 list-inline-item d-none d-xl-block">
                            groups
                          </span>
                          <div class="ml-2">
                            <h5 class="mb-1">
                              <div class="text-inherit"><%= event.number %>人</div>
                            </h5>
                            <p class="mb-0 font-size-xs">
                              <span class="mr-2">最大人数</span>
                            </p>
                          </div>
                        </div>
                      </li>

                      <li class="list-group-item">
                        <div class="d-flex">
                            <span class="material-icons-outlined md-24 fit pr-0 list-inline-item d-none d-xl-block">
                              schedule
                            </span>
                          <div class="ml-2">
                              <h5 class="mb-1">
                                <div class="text-inherit">
                                  <%= l event.start_time, format: :default_short if event.start_time %>~
                                </div>
                              </h5>
                              <p class="mb-0 font-size-xs">
                                <span class="mr-2">
                                  開催時刻
                                </span>
                              </p>
                          </div>
                        </div>
                      </li>

                      <li class="list-group-item">
                        <div class="d-flex">
                            <span class="material-icons-outlined md-24 fit pr-0 list-inline-item d-none d-xl-block">
                              payments
                            </span>
                          <div class="ml-2">
                            <h5 class="mb-1">
                              <div class="text-inherit"><%= event.fee %>円</div>
                            </h5>
                            <p class="mb-0 font-size-xs">
                              <span class="mr-2">参加費</span>
                            </p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="align-items-center no-gutters mt-4">
                  <%= link_to user_path(event.user_id) do %>
                    <div class="col-auto">
                      <%= image_tag event.user.image.url, class: "rounded-circle avatar-sm mr-2" %>
                      <%= event.user.name %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="alert alert-primary" role="alert">
    イベントが投稿されていません
    <%= image_tag 'undraw/undraw_not_found_60pq.svg', width: '200px', class: 'p-3' %>
  </div>
<% end %>

<script>
  $('.btn-change').on('click', function () {
    if ($(this).text() === 'expand_less') {
      $(this).text('expand_more');
    } else {
      $(this).text('expand_less');
    }
  });
</script>


<div>参加したイベント一覧</div>
<% if @finish_events %>
  <% @finish_events.each do |finish_event| %>
    <%= finish_event.title %>
  <% end %>
<% end %>


