参加するあなたへようこそ！詳しくはこちらです！

<%= @event.title  %>
<%= @event.content %>

<h2>コメント一覧</h2>
<% @comments.each do |c| %>
  <div>
    <%= c.content %>
  </div>
<% end %>

<%= form_with model: @comment, url: event_comments_path do |f| %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>
