参加するあなたへようこそ！詳しくはこちらです！<br>

<%= @event.title  %>
<%= @event.content %>
<br>
お知らせ一覧
<% @comments.each do |comment| %>
  <div>
    <%= simple_format(comment.content) %>
  </div>
<% end %>

<% if current_user.id == @event.user_id %>
  <%= form_with model: [ @event, @comment ], url: event_comments_path(event_id: @event.id) do |f| %>
    <%= f.text_area :content %>
    <br>
    <%= f.submit 'お知らせを送る', class: "btn btn-primary" %>
  <% end %>
<% end %>
