<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="field col form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
    </div>

    <div class="field col form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :introduce %><br />
    <%= f.text_area :introduce, autofocus: true, autocomplete: "introduce", class: "form-control" %>
  </div>

  <div class="field form-group custom-file">
    <%= f.label :image, class: "custom-file-label", for: "customFile" %><br />
    <%= f.file_field :image, autofocus: true, autocomplete: "image", class: "form-control-file custom-file-input", id: "customFile" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="row">
    <div class="field col form-group">
      <%= f.label :password %><small><%= @minimum_password_length %> 文字以上</small>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field col form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>
  </div>
    <span class="p-3">パスワードなしで更新できます</span>

  <div class="actions col form-group">
    <%= f.submit "更新する", class: "btn btn-primary rounded-pill" %>
  </div>
<% end %>

<div class="float-end">
  <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    アカウントを削除する
  </button>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">アカウントを削除しますか？</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
        <%= button_to "削除", registration_path(resource_name), class: "btn btn-primary", method: :delete %>
      </div>
    </div>
  </div>
</div>
